
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lugrasimo&family=Maiden+Orange&family=Pacifico&display=swap');
*{
    margin: 0px;
    padding:0px;
 }

.Introduction{
    width: 1440px;
    height: 660px;
    background-color:#23262d;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-around;
}
a{
    color: white;
    margin-top: 2px;
    margin-right: 20px;
    font-size: 50px;
    text-decoration: solid underline 4px #7bb2d9;

   
}
.Heading1{
    padding-top: 250px;
    padding-left: 120px;
    font-family: Roboto;
    font-size: 50px;
    
}
p{
    padding-top: 200px; 
    padding-left: 120px;
    margin-top: 10px;
    font-family:Lato;
    font-size: 60px;
    color:#8db4b0 ;
    
}
.Menu{
    height: 70px;
     display: flex;
    justify-content:space-between; 
    background-color:#23262d ;
   
}
button{
    margin-top: 5px;
    margin-right: 20px;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background-color: #7bb2d9;
    border: 6px solid white;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.image{
   margin-top: 50px;
   margin-left: 20px;
}
#Name{
   text-decoration:4px underline solid white;
   color:  #7bb2d9
}
.fa-solid {
  font-size: 2em;
}
.fa-regular{
    font-size: 2em;
}
.Front-End{
        color: #7bb2d9;
        text-decoration:4px underline solid white;
}
i:hover {
    transform: scale(1.3);
}


